<div class="card">
  <div class="recipe-image-container">
    <img [src]="recipe.photoUrl" class="recipe-img" [alt]="recipe.title" />
  </div>

  <div class="card-body">
    <h3>{{ recipe.title }}</h3>

    <div class="user">
    <!--  <img [src]="recipe.user.photoUserString ?  recipe.user.photoExt + recipe.user.photoUserString : defaultPhoto"  class="user-img" />-->
      <span>{{recipe.user.firstName}} {{recipe.user.lastName}}</span>
    </div>

    <button>Voir détails</button>
  </div>
</div>