<div class="search-bar">
 <input type="text" placeholder="Rechercher une recette..." [(ngModel)]="searchText" (input)="filterRecipes()" />

  <select [(ngModel)]="selectedType" (change)="filterRecipes()">
    <option value="">Tous</option>
    <option value="plat">Plat</option>
    <option value="dessert">Dessert</option>
    <option value="boisson">Boisson</option>
  </select>
</div>

<div class="recipes">
  <app-recipe-card
    *ngFor="let recipe of recipes"
    [recipe]="recipe">
  </app-recipe-card>
</div>
